*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
}

#map{
	text-align: center;
	justify-content: center;
	position: relative;
	left: 10%;
	width: 78%;
	height: 78%;
	margin: 8px;
	border-radius: 12px;
}